@import url('https://fonts.googleapis.com/css2?family=Teko:wght@700&display=swap');

* {
    background-color: aliceblue;
}


/* login/Register form */

.auth_form {
    text-align: center;
    border: 1px solid #dddddd;
    border-radius: 5px;
    background-color: white;
    margin: 10% 15% 0 15%;
    height: 50vh;
    display: flex;
    flex-direction: column;
}

.auth_form input {
    text-align: center;
    border: none;
    border-bottom: 2px solid black;
    background-color: white;
    margin: 3% 34% 0 34%;
}

.auth_form input:last-child {
    text-align: center;
    border: 2px solid black;
    border-radius: 5px;
    background-color: white;
    margin: 4% 35% 0 35%;
}

/* Main-page */

.container {
    display: grid;
    justify-content: center;
    grid-template-columns: 45% 45%;
}

.ubox {
    margin-top: 5vh;
    scale: 0.8;
}

.ubox-header {
    width: 100%;
    height: 80px;
    border: 2px solid black;
    border-radius: 5px 5px 0 0;
    background-color: white;
    display: flex;
    justify-content: flex-start;
}

.ubox-content {
    width: 100%;
    height: 45vw;
    border-left: 2px solid black;
    border-right: 2px solid black;
    border-radius: 0;
    background-color: white;
}

.ubox-footer {
    width: 100%;
    height: 80px;
    border: 2px solid black;
    border-radius: 0 0 5px 5px;
    background-color: white;
}

.u-avatar {
    background-color: white;
    height: 99%;
    display: block;
}

.u-avatar img {
    width: auto;
    height: 90%;
    border-radius: 100000px;
    margin: 5%;
    background-size: cover;
}

.u-name {
    background-color: transparent;
    vertical-align: middle;
    margin: 4% 0 4% 4%;
    font-family: 'Teko';
    font-size: larger;
}

.u-subs {
    background-color: transparent;
    vertical-align: middle;
    margin: 4% 0 4% 4%;
    font-family: 'Teko';
    font-size: larger;
    text-align: center;
}